{% extends "main.html" %}

{% block content %}

    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>
    
                <form class="form" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Input:Text -->
                    <h3>Are you sure you want to delete "{{object}}"?</h3>

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
                    <a class="btn btn--sub btn--lg  my-md" href = "{{request.GET.next}}"> Go Back <a/>
                </form>
            </div>
        </div>
    </main>
{% endblock %}